*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "logo navlinks";
	width: 100%;
	background-color: #419A1c;
	height: 15vh;
}

#logo h1{
    margin-top: 30px;
	font-size: 32px;
}

#logo{
    display: flex;
    flex-direction: row;
	grid-area: logo;
	font-size: 16px;
    padding: 0;
	margin: 8px;
    margin-top: 0px;
	color: black;
}


.navlinks{
	grid-area: navlinks;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
    font-size: 32px;
}

.navlinks a{
    font-size: 24px;
	color: white;
	text-decoration: none;
}   

#main{
    padding: 3% 5%;
    background-image: url('images/background.jpg');
    height: 100vh;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    
}

#main div{
	margin-top: 3%;
}

#main h1, #main h3{
	text-align: center;
}

#data{
    padding: 2% 2%;
    background-color: #419A1c;
    width: 30%;
}